<h1>Edit Contact</h1>
<!-- app/views/contacts/_form.html.erb -->
<%= form_with(model: @contact, local: true) do |form| %>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div>
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :contact_type %>
    <%= form.select :contact_type, Contact.contact_types.keys %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= render 'form' %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>
